# Library Import

In [6]:
import huggingface_hub as hf # For downloading data from Hugging Face
import pandas as pd # For reading and importing data files into DataFrames used to represent the data

In [7]:
import sys

sys.set_int_max_str_digits(100000)

In [8]:
INPUT_PATH = './prompts'

# Data Import

In [9]:
# TACO Dataset
# Test Files
test_filenames = [
  'ALL/test-00000-of-00001.parquet',
] 

# Train Files
train_filenames = [
  'ALL/train-00001-of-00009.parquet',
  'ALL/train-00002-of-00009.parquet',
  'ALL/train-00003-of-00009.parquet',
  'ALL/train-00004-of-00009.parquet',
  'ALL/train-00005-of-00009.parquet',
  'ALL/train-00006-of-00009.parquet',
  'ALL/train-00007-of-00009.parquet',
  'ALL/train-00008-of-00009.parquet',
]

In [10]:
train_df = pd.DataFrame([])
test_df = pd.DataFrame([])

for filename in train_filenames: # iterate over train_filenames
  path = hf.hf_hub_download( # download dataset
    repo_id='BAAI/TACO', # repo id that contains the files
    repo_type='dataset', # the type should be dataset as the download involves data files
    filename=filename, # the specific filename to be downloaded
  )

  if train_df.empty: # if train_df is still empty
    train_df = pd.read_parquet(path=path) # create a new DataFrame with data instead
  else: # if train_df is not empty
    train_df = pd.concat([train_df, pd.read_parquet(path)], axis=0) # concat the new data along axis=0 so not to create new columns,
                                                                    # instead concat the data as rows

for filename in test_filenames: # iterate over test_filenames
  path = hf.hf_hub_download( # download dataset
    repo_id='BAAI/TACO', # repo id that contains the files
    repo_type='dataset', # the type should be dataset as the download involves data files
    filename=filename, # the specific filename to be downloaded
  )

  if test_df.empty: # if test_df is still empty
    test_df = pd.read_parquet(path=path) # create a new DataFrame with data instead
  else: # if test_df is not empty
    test_df = pd.concat([test_df, pd.read_parquet(path)], axis=0) # concat the new data along axis=0 so not to create new columns,
                                                                    # instead concat the data as rows

# Initial Inspection

train_df and test_df are going to be combined as the project does not involve model testing. This means that there is no need to split the data into training set and testing set. It is more favorable to use all problem sets at once to cover more possibilities and variations.

In [11]:
full_df = pd.concat([train_df, test_df], axis=0) # create a concatenated train_df and test_df

In [12]:
full_df.head()

,question,solutions,starter_code,input_output,difficulty,raw_tags,name,source,tags,skill_types,url,Expected Auxiliary Space,time_limit,date,picture_num,memory_limit,Expected Time Complexity
0,"For every string given as input, you need to t...",[],,"{""inputs"": [""1\naab"", ""3\naab\ndddd\nthisisapa...",UNKNOWN_DIFFICULTY,[],subpalindrome-4,hackerearth,[],[],None,None,None,None,None,None,None
1,A scientist discovered a strange variation of ...,[],,"{""inputs"": [""3\n0\n7\n15\n655\n2711\n6395\n719...",UNKNOWN_DIFFICULTY,[],None,aizu,[],[],None,None,8.0 seconds,None,None,134.217728 megabytes,None
2,Two integers A and B are the inputs. Write a p...,"[""def GCD(x, y):\n\twhile y:\n\t\t(x, y) = (y,...",,"{""inputs"": [[""3"", ""120 140"", ""10213 312"", ""10 ...",EASY,"['LCM', 'Mathematics', 'Algorithms', 'Number T...",None,codechef,"['Mathematics', 'Number theory', 'Implementati...",[],https://www.codechef.com/problems/FLOW016,None,1 seconds,2015-04-27,0,50000 bytes,None
3,Limak is a grizzly bear who desires power and ...,"[""n = int(input())\nv = list(map(int, input()....",,"{""inputs"": [""5\n5 1 11 2 8\n"", ""4\n1 8 8 8\n"",...",EASY,"['greedy', 'implementation']",None,codeforces,"['Implementation', 'Greedy algorithms']",['Greedy algorithms'],https://codeforces.com/problemset/problem/574/A,None,None,2019-12-31,None,None,None
4,"problem\n\nJOI took six subjects: physics, che...","[""lst = []\nfor i in range(6):\n\tn = int(inpu...",,"{""inputs"": [""100\n34\n76\n67\n10\n0"", ""100\n34...",UNKNOWN_DIFFICULTY,[],None,aizu,[],[],None,None,8.0 seconds,None,None,268.435456 megabytes,None

In [13]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23616 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   question                  23616 non-null  object
 1   solutions                 23616 non-null  object
 2   starter_code              23616 non-null  object
 3   input_output              23616 non-null  object
 4   difficulty                23616 non-null  object
 5   raw_tags                  23616 non-null  object
 6   name                      3352 non-null   object
 7   source                    23616 non-null  object
 8   tags                      23616 non-null  object
 9   skill_types               23616 non-null  object
 10  url                       18915 non-null  object
 11  Expected Auxiliary Space  2386 non-null   object
 12  time_limit                10519 non-null  object
 13  date                      6204 non-null   object
 14  picture_num               6710 non-null   object
 15  memory_limit              10520 non-null  object
 16  Expected Time Complexity  2603 non-null   object
dtypes: object(17)
memory usage: 3.2+ MB

All column type is object, can be string or other data structures like list, tuple, or dictionary

In [14]:
eda_df = full_df.copy()

# Utility Functions

### Check condition for any empty row

In [15]:
from typing import Tuple

In [16]:
def empty_rows(data: pd.Series) -> Tuple[pd.Series, int]:
  rows = []
  for row in data:
    if not row or not len(row):
      rows.append(row)

  return (pd.Series(rows), len(rows))

### Check null or empty rows

In [17]:
def null_and_empty_rows(data: pd.Series) -> None:

  empty = empty_rows(data)
  print(f'Null count: {data.isnull().sum()} rows.')
  print(f'Row containing empty data: {empty[1]} rows.')
  print(f'Empty portion {round((empty[1] / data.shape[0]) * 100, 2)}%')

### Check detailed data type

In [18]:
def check_type(data: pd.Series) -> None:
  for row in data:
    if row:
      return type(row)

### First n Non Null Values

In [19]:
def n_non_null_head(data: pd.Series, n: int = 5) -> pd.Series:
  head = []
  for row in data:
    if len(head) >= n:
      break
    if row:
      head.append(row)

  if len(head) < n:
    head.extend([None] * (n - len(head)))
  
  return pd.Series(head)

### Initial Check

In [20]:
def initial_check(data: pd.Series) -> None:
  column_type = check_type(data)
  print(f'Type: {column_type}\n')
  print('First 5 non-null rows:')
  print(n_non_null_head(data))

  print('\nNull and empty values:')
  null_and_empty_rows(data)

### Decode Data Structures From a String

In [21]:
from json import JSONDecodeError
import json

def safe_decoding(row: str) -> any:
  try:
    if len(row) and row:
      return json.loads(row.replace('\'', '\"'))
    else:
      return row
  except JSONDecodeError:
    return row

def decode_json(data: pd.Series) -> pd.Series:
  return data.apply(lambda row: safe_decoding(row))

# Column Analysis

## 1. Question

In [22]:
initial_check(eda_df['question'])

Type: <class 'str'>

First 5 non-null rows:
0    For every string given as input, you need to t...
1    A scientist discovered a strange variation of ...
2    Two integers A and B are the inputs. Write a p...
3    Limak is a grizzly bear who desires power and ...
4    problem\n\nJOI took six subjects: physics, che...
dtype: object

Null and empty values:
Null count: 0 rows.
Row containing empty data: 0 rows.
Empty portion 0.0%

Questions are in string, so no need to decode the data

The question column is essential as it holds the actual problem set questions. It seems that the there is no null row too, which means that all rows can be used for prompting.

## 2. Solutions

In [23]:
initial_check(eda_df['solutions'])

Type: <class 'str'>

First 5 non-null rows:
0                                                   []
1                                                   []
2    ["def GCD(x, y):\n\twhile y:\n\t\t(x, y) = (y,...
3    ["n = int(input())\nv = list(map(int, input()....
4    ["lst = []\nfor i in range(6):\n\tn = int(inpu...
dtype: object

Null and empty values:
Null count: 0 rows.
Row containing empty data: 0 rows.
Empty portion 0.0%

The column type is string, but the content is a Python list, which means it needs to be decoded.

Some solutions are empty and the solution column itself cannot be used as a benchmark to the chatbot response as it is difficult to quantify how close the chabot codes are to these solutions and how good the codes based on the solutions data.

## 3. Starter Code

In [24]:
initial_check(eda_df['starter_code'])

Type: <class 'str'>

First 5 non-null rows:
0    #User function Template for python3\n\n\n\n'''...
1    class Solution:\n    def minSumOfLengths(self,...
2    from typing import List\n\n\n\n\n\n\n\nclass S...
3    #User function Template for python3\n\nclass S...
4    #User function Template for python3\n\n# Retur...
dtype: object

Null and empty values:
Null count: 0 rows.
Row containing empty data: 18303 rows.
Empty portion 77.5%

Starter code does not contain any valuable information, so it can be dropped.

## 4. Input-Output

In [25]:
initial_check(eda_df['input_output'])

Type: <class 'str'>

First 5 non-null rows:
0    {"inputs": ["1\naab", "3\naab\ndddd\nthisisapa...
1    {"inputs": ["3\n0\n7\n15\n655\n2711\n6395\n719...
2    {"inputs": [["3", "120 140", "10213 312", "10 ...
3    {"inputs": ["5\n5 1 11 2 8\n", "4\n1 8 8 8\n",...
4    {"inputs": ["100\n34\n76\n67\n10\n0", "100\n34...
dtype: object

Null and empty values:
Null count: 0 rows.
Row containing empty data: 0 rows.
Empty portion 0.0%

The data type is string, but the content is dictionary, so it needs to be decoded.

In [26]:
# To get better representation on how the data is structured, decoding must be done.
eda_df['input_output'] = decode_json(eda_df['input_output'])

In [27]:
initial_check(eda_df['input_output'])

Type: <class 'dict'>

First 5 non-null rows:
0    {'inputs': ['1
aab', '3
aab
dddd
thisisapalind...
1    {'inputs': ['3
0
7
15
655
2711
6395
7195
8465
...
2    {'inputs': [['3', '120 140', '10213 312', '10 ...
3    {'inputs': ['5
5 1 11 2 8
', '4
1 8 8 8
', '2
...
4    {'inputs': ['100
34
76
67
10
0', '100
34
76
96...
dtype: object

Null and empty values:
Null count: 0 rows.
Row containing empty data: 0 rows.
Empty portion 0.0%

Looking at the data, each input output data contains a dictionary with:<br />

1. Two keys: inputs and outputs
2. The values are a list of inputs and outputs with each index of input attributes to the corresponding index of the output

## 5. Difficulty

In [28]:
initial_check(eda_df['difficulty'])

Type: <class 'str'>

First 5 non-null rows:
0    UNKNOWN_DIFFICULTY
1    UNKNOWN_DIFFICULTY
2                  EASY
3                  EASY
4    UNKNOWN_DIFFICULTY
dtype: object

Null and empty values:
Null count: 0 rows.
Row containing empty data: 0 rows.
Empty portion 0.0%

In [29]:
eda_df['difficulty'].value_counts()

difficulty
EASY                  8099
UNKNOWN_DIFFICULTY    4467
MEDIUM                3082
HARD                  2995
MEDIUM_HARD           2656
VERY_HARD             2317
Name: count, dtype: int64

UNKNOWN_DIFFICULTY will not be used as it will be more difficult to filter out questions and analyze the questions and answers later on.

UNKNOWN_DIFFICULTY should be excluded as it will be difficult to discriminate between problem sets later on.

## 6. Raw Tags

In [30]:
initial_check(eda_df['raw_tags'])

Type: <class 'str'>

First 5 non-null rows:
0                                                   []
1                                                   []
2    ['LCM', 'Mathematics', 'Algorithms', 'Number T...
3                         ['greedy', 'implementation']
4                                                   []
dtype: object

Null and empty values:
Null count: 0 rows.
Row containing empty data: 0 rows.
Empty portion 0.0%

Some tags are empty, but keeping empty tags are not going to impact the problem set. This is why initial check says there are no empty rows even though some tags are empty.

The data needs to be decoded as they are list inside of a string.

In [31]:
eda_df['raw_tags'] = decode_json(eda_df['raw_tags'])

In [32]:
initial_check(eda_df['raw_tags'])

Type: <class 'list'>

First 5 non-null rows:
0    [LCM, Mathematics, Algorithms, Number Theory, ...
1                             [greedy, implementation]
2                               [math, implementation]
3    [combinatorics, matrices, math, constructive a...
4                             [greedy, implementation]
dtype: object

Null and empty values:
Null count: 0 rows.
Row containing empty data: 6874 rows.
Empty portion 29.11%

6874 of the total rows do not empty raw tags list.

## 7. Name

In [33]:
initial_check(eda_df['name'])

Type: <class 'str'>

First 5 non-null rows:
0                             subpalindrome-4
1                             modified-number
2                                   leading-1
3          miss-dd-and-her-mysterious-numbers
4    AtCoder Beginner Contest 083 - Some Sums
dtype: object

Null and empty values:
Null count: 20264 rows.
Row containing empty data: 20264 rows.
Empty portion 85.81%

Most of name column values are null, around 85.8062%, so this can be dropped as most data will have null name while the others have name.

## 8. Source

In [34]:
initial_check(eda_df['source'])

Type: <class 'str'>

First 5 non-null rows:
0    hackerearth
1           aizu
2       codechef
3     codeforces
4           aizu
dtype: object

Null and empty values:
Null count: 0 rows.
Row containing empty data: 0 rows.
Empty portion 0.0%

In [35]:
sources_set = set()

for source in eda_df['source']:
  sources_set.add(source)

print(sources_set)

{'aizu', 'hackerearth', 'atcoder', 'codewars', 'codeforces', 'leetcode', 'hackerrank', 'geeksforgeeks', 'kattis', 'codechef'}

These are the source of the problem sets. This output can be used to analyze the terms of services of each problem sets, and what can be used for this research.

TOS agreement:

- Code Forces https://codeforces.com/terms üëå
- LeetCode https://leetcode.com/terms/ ‚ùå (likely no)
- geeksforgeeks ‚ùå (likely no)
- kattis https://open.kattis.com/info/tos üëåLikely okay (non-commercial)
- aizu https://judge.u-aizu.ac.jp/onlinejudge/submission_note.jsp ‚ùå Risky (no clear terms)
- hackerearth https://www.hackerearth.com/terms-of-service/ ‚ùå High risk
- atcoder https://atcoder.jp/tos üëåYes (Citation Required)
- Codewars https://www.codewars.com/about/terms-of-service üëåYes (Citation Required)
- hackerrank https://www.hackerrank.com/terms-of-service/ üëåYes (Citation Required, no problemset reproduction)
- codechef https://www.codechef.com/terms üëåLikely okay (non-commercial

This column is not used specifically in the prompting, so it can be dropped later.

## 9. Tags

In [36]:
initial_check(eda_df['tags'])

Type: <class 'str'>

First 5 non-null rows:
0                                                   []
1                                                   []
2    ['Mathematics', 'Number theory', 'Implementati...
3              ['Implementation', 'Greedy algorithms']
4                                                   []
dtype: object

Null and empty values:
Null count: 0 rows.
Row containing empty data: 0 rows.
Empty portion 0.0%

Tags are supposed to be a list, so it needs to be decoded.

In [37]:
eda_df['tags'] = decode_json(eda_df['tags'])

In [38]:
initial_check(eda_df['tags'])

Type: <class 'list'>

First 5 non-null rows:
0         [Mathematics, Number theory, Implementation]
1                  [Implementation, Greedy algorithms]
2                        [Mathematics, Implementation]
3    [Matrices, Combinatorics, Mathematics, Constru...
4                  [Implementation, Greedy algorithms]
dtype: object

Null and empty values:
Null count: 0 rows.
Row containing empty data: 7652 rows.
Empty portion 32.4%

7652 tags are empty, but it will not be dropped as problem sets with no tags are still included.

## 10. Skill Types

In [39]:
initial_check(eda_df['skill_types'])

Type: <class 'str'>

First 5 non-null rows:
0                       []
1                       []
2                       []
3    ['Greedy algorithms']
4                       []
dtype: object

Null and empty values:
Null count: 0 rows.
Row containing empty data: 0 rows.
Empty portion 0.0%

Skill Types is structured as a list, but the type is string, so it needs to be decoded.

In [40]:
eda_df['skill_types'] = decode_json(eda_df['skill_types'])

In [41]:
initial_check(eda_df['skill_types'])

Type: <class 'list'>

First 5 non-null rows:
0                                  [Greedy algorithms]
1                                  [Greedy algorithms]
2                     [Data structures, Range queries]
3                                    [Complete search]
4    [Dynamic programming, Amortized analysis, Sort...
dtype: object

Null and empty values:
Null count: 0 rows.
Row containing empty data: 13596 rows.
Empty portion 57.57%

13596 list of the entire skill types lists are empty, these empty skill type lists will be explained on the prompt construction.

## 11. URL

In [42]:
initial_check(eda_df['url'])

Type: <class 'str'>

First 5 non-null rows:
0           https://www.codechef.com/problems/FLOW016
1     https://codeforces.com/problemset/problem/574/A
2      https://codeforces.com/problemset/problem/40/C
3    https://codeforces.com/problemset/problem/1332/E
4     https://codeforces.com/problemset/problem/374/A
dtype: object

Null and empty values:
Null count: 4701 rows.
Row containing empty data: 4701 rows.
Empty portion 19.91%

URL information itself will not affect the produced solutions because they do not correlate with the problem sets, so it will be dropped for the prompting.

## 12. Expected Auxiliary Space

In [43]:
initial_check(eda_df['Expected Auxiliary Space'])

Type: <class 'str'>

First 5 non-null rows:
0                            O(1).
1                         O(N^{2})
2                             O(1)
3    O(Height of the Binary Tree).
4                 O(|str1|*|str2|)
dtype: object

Null and empty values:
Null count: 21230 rows.
Row containing empty data: 21352 rows.
Empty portion 90.41%

In [44]:
eda_df['Expected Auxiliary Space'].value_counts()

Expected Auxiliary Space
O(1)                             961
O(N)                             307
O(1).                            214
                                 122
O(n)                             103
                                ...
O(N * WORD_LEN).                   1
O(Distinct Characters).            1
O(1) for all the 5 functions.      1
O(N^{2}*K)                         1
O(Height of the Binary Tree).      1
Name: count, Length: 305, dtype: int64

Around 90% of problem sets do not have expected auxiliary space, so they will be assumed to not have expectations, which will be mentioned in the prompts later.

## 13. Time Limit

In [45]:
initial_check(eda_df['time_limit'])

Type: <class 'str'>

First 5 non-null rows:
0    8.0 seconds
1      1 seconds
2    8.0 seconds
3    2.0 seconds
4      2 seconds
dtype: object

Null and empty values:
Null count: 13097 rows.
Row containing empty data: 13097 rows.
Empty portion 55.46%

Around 55.46% of problem sets do not have time limit, so they will be assumed to not have expectations, which will be mentioned in the prompts later.

## 14. Date

In [46]:
initial_check(eda_df['date'])

Type: <class 'str'>

First 5 non-null rows:
0    2015-04-27
1    2019-12-31
2    2020-03-31
3    2019-12-31
4    2019-12-31
dtype: object

Null and empty values:
Null count: 17412 rows.
Row containing empty data: 17412 rows.
Empty portion 73.73%

Date information itself will not affect the produced solutions because they do not correlate with the problem sets, so it will be dropped altogether.

## 15. Picture Num

In [47]:
initial_check(eda_df['picture_num'])

Type: <class 'str'>

First 5 non-null rows:
0    0
1    1
2    0
3    0
4    0
dtype: object

Null and empty values:
Null count: 16906 rows.
Row containing empty data: 16906 rows.
Empty portion 71.59%

In [48]:
eda_df[['url', 'picture_num']].loc[eda_df['url'] == None]

Empty DataFrame
Columns: [url, picture_num]
Index: []

Picture Num is dependent on url. If URL exists, picture_num can then exist. This indicate that picture num points to the picture inside of the URL if picture_num exists. This can be useful for feature engineering.

## 16. Memory Limit

In [49]:
initial_check(eda_df['memory_limit'])

Type: <class 'str'>

First 5 non-null rows:
0    134.217728 megabytes
1             50000 bytes
2    268.435456 megabytes
3         256.0 megabytes
4           512 megabytes
dtype: object

Null and empty values:
Null count: 13096 rows.
Row containing empty data: 13096 rows.
Empty portion 55.45%

55.45% of memory limit is empty. These empty values will be assumed as no time limit is given for the problem sets.

## 17. Expected Time Complexity

In [50]:
initial_check(eda_df['Expected Time Complexity'])

Type: <class 'str'>

First 5 non-null rows:
0               O(N).
1            O(N^{2})
2              O(|S|)
3               O(N).
4    O(|str1|*|str2|)
dtype: object

Null and empty values:
Null count: 21013 rows.
Row containing empty data: 21135 rows.
Empty portion 89.49%

55.45% of expected time complexity is empty. These empty values will be assumed as no expected time complexity is given for the problem sets.

# Feature Engineering

In [51]:
cleaned_df = full_df.copy()

### Drop Columns

In [52]:
cleaned_df.drop(columns=['solutions', 'starter_code', 'name', 'date'], inplace=True, axis=1)

### Filter Out Rows

In [53]:
cleaned_df = cleaned_df.loc[cleaned_df['difficulty'] != 'UNKNOWN_DIFFICULTY']

### Decoding

In [54]:
decoded_cols = ['input_output', 'raw_tags', 'tags', 'skill_types']

for col in decoded_cols:
  cleaned_df[col] = decode_json(cleaned_df[col])

### Results

In [55]:
cleaned_df.reset_index(inplace=True, drop=True)

In [56]:
cleaned_df.head()

,question,input_output,difficulty,raw_tags,source,tags,skill_types,url,Expected Auxiliary Space,time_limit,picture_num,memory_limit,Expected Time Complexity
0,Two integers A and B are the inputs. Write a p...,"{'inputs': [['3', '120 140', '10213 312', '10 ...",EASY,"[LCM, Mathematics, Algorithms, Number Theory, ...",codechef,"[Mathematics, Number theory, Implementation]",[],https://www.codechef.com/problems/FLOW016,None,1 seconds,0,50000 bytes,None
1,Limak is a grizzly bear who desires power and ...,"{'inputs': ['5 5 1 11 2 8 ', '4 1 8 8 8 ', '2 ...",EASY,"[greedy, implementation]",codeforces,"[Implementation, Greedy algorithms]",[Greedy algorithms],https://codeforces.com/problemset/problem/574/A,None,None,None,None,None
2,Last year the world's largest square was built...,"{'inputs': ['99085 7738 98097 -6487 ', '1 2 2 ...",HARD,"[math, implementation]",codeforces,"[Mathematics, Implementation]",[],https://codeforces.com/problemset/problem/40/C,None,2.0 seconds,None,256.0 megabytes,None
3,Alice has got addicted to a game called Sirtet...,"{'inputs': ['2 2 1 1 ', '1 2 1 2 ', '485 117 3...",HARD,"[combinatorics, matrices, math, constructive a...",codeforces,"[Matrices, Combinatorics, Mathematics, Constru...",[],https://codeforces.com/problemset/problem/1332/E,None,2 seconds,1,512 megabytes,None
4,Dima and Inna are doing so great! At the momen...,"{'inputs': ['5 7 1 3 2 2 ', '5 5 2 3 1 1 ', '1...",HARD,"[greedy, implementation]",codeforces,"[Implementation, Greedy algorithms]",[Greedy algorithms],https://codeforces.com/problemset/problem/374/A,None,None,None,None,None

In [57]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19149 entries, 0 to 19148
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   question                  19149 non-null  object
 1   input_output              19149 non-null  object
 2   difficulty                19149 non-null  object
 3   raw_tags                  19149 non-null  object
 4   source                    19149 non-null  object
 5   tags                      19149 non-null  object
 6   skill_types               19149 non-null  object
 7   url                       17891 non-null  object
 8   Expected Auxiliary Space  2386 non-null   object
 9   time_limit                7915 non-null   object
 10  picture_num               6710 non-null   object
 11  memory_limit              7915 non-null   object
 12  Expected Time Complexity  2603 non-null   object
dtypes: object(13)
memory usage: 1.9+ MB

In [58]:
for col in cleaned_df:
  print(f'[{col}]\'s type: {cleaned_df[col].dtype}')

[question]'s type: object
[input_output]'s type: object
[difficulty]'s type: object
[raw_tags]'s type: object
[source]'s type: object
[tags]'s type: object
[skill_types]'s type: object
[url]'s type: object
[Expected Auxiliary Space]'s type: object
[time_limit]'s type: object
[picture_num]'s type: object
[memory_limit]'s type: object
[Expected Time Complexity]'s type: object

# Problems Selection

In [59]:
ps_df = cleaned_df.copy()

In [60]:
# Drop rows where the source doesn't approve in the terms of service
tosUnapproved = {
    "geeksforgeeks",
    "leetcode",
    "aizu",
    "hackerearth"
}

# Drop rows where the source doesn't approve in the terms of service
ps_df = ps_df[~ps_df['source'].isin(tosUnapproved)]
print(f"Filtered out {len(cleaned_df) - len(ps_df)} problems with unapproved sources.")
print(f"Remaining problems: {len(ps_df)}")

Filtered out 4326 problems with unapproved sources.
Remaining problems: 14823

In [61]:
# Drop rows where skill_types is empty or NaN
# Empty list is considered as empty
ps_df = ps_df[ps_df['skill_types'].apply(lambda x: x is not None and len(x) > 0)]

# Reset index after filtering
ps_df.reset_index(drop=True, inplace=True)

# Display info about the filtered DataFrame
print(f"Rows before filtering: {len(cleaned_df)}")
print(f"Rows after filtering: {len(ps_df)}")
print(f"Filtered out {len(cleaned_df) - len(ps_df)} rows")

Rows before filtering: 19149
Rows after filtering: 7271
Filtered out 11878 rows

In [62]:
randomness = 42
# Max problems per skill type and difficulty
max_counts = {
    'EASY': 20,
    'MEDIUM': 10,
    'HARD': 5,
    'MEDIUM_HARD': 3,
    'VERY_HARD': 3
}

# Get all unique skills from the skill_types column
all_skills = set()
for skills in ps_df['skill_types']:
    if skills and len(skills) > 0:
        all_skills.update(skills)

# Create an empty dataframe to store the results
filtered_df = pd.DataFrame(columns=ps_df.columns)

# Process each skill type
for skill in all_skills:
    # Get problems with this skill
    skill_mask = ps_df['skill_types'].apply(lambda x: skill in x if x else False)
    skill_df = ps_df[skill_mask].copy()
    
    # Sample problems for each difficulty level
    sampled_by_difficulty = pd.DataFrame(columns=ps_df.columns)
    
    for difficulty, max_count in max_counts.items():
        difficulty_df = skill_df[skill_df['difficulty'] == difficulty]
        
        if len(difficulty_df) > 0:
            # Sample up to max_count problems of this difficulty
            sample_size = min(max_count, len(difficulty_df))
            sampled = difficulty_df.sample(n=sample_size, random_state=randomness)
            sampled_by_difficulty = pd.concat([sampled_by_difficulty, sampled])
            
            # Remove the sampled problems from skill_df to avoid duplicates
            # when a problem belongs to multiple skill types
            skill_df = skill_df.loc[~skill_df.index.isin(sampled.index)]
    
    # Add the sampled problems for this skill to the result
    filtered_df = pd.concat([filtered_df, sampled_by_difficulty])
    
# Remove duplicates (in case a problem was selected for multiple skills)
filtered_df = filtered_df.drop_duplicates(subset=[col for col in filtered_df.columns if col not in ['input_output', 'raw_tags', 'tags', 'skill_types']])

# Reset index
filtered_df.reset_index(drop=True, inplace=True)

In [63]:
# Display statistics about the resulting dataset
print(f"Total problems in balanced dataset: {len(filtered_df)}")
print("\nDistribution by skill type:")
skill_counts = {}
for skills in filtered_df['skill_types']:
    for skill in skills:
        skill_counts[skill] = skill_counts.get(skill, 0) + 1
for skill, count in sorted(skill_counts.items(), key=lambda x: x[1], reverse=True):
    print(f"{skill}: {count}")

print("\nDistribution by difficulty:")
print(filtered_df['difficulty'].value_counts())

Total problems in balanced dataset: 300

Distribution by skill type:
Greedy algorithms: 115
Sorting: 94
Dynamic programming: 81
Data structures: 78
Complete search: 69
Amortized analysis: 54
Bit manipulation: 47
Range queries: 21

Distribution by difficulty:
difficulty
EASY           140
MEDIUM          72
HARD            40
MEDIUM_HARD     24
VERY_HARD       24
Name: count, dtype: int64

# Prompts Construction

In [64]:
pc_df = filtered_df.copy()

In [65]:
pc_df.drop(columns=['url', 'picture_num', 'source'], axis=1, inplace=True)

In [66]:
pc_df.head()

,question,input_output,difficulty,raw_tags,tags,skill_types,Expected Auxiliary Space,time_limit,memory_limit,Expected Time Complexity
0,You are given several queries. In the i-th que...,"{'inputs': ['1 12 ', '2 6 8 ', '3 1 2 3 ', '6 ...",EASY,"[number theory, greedy, math, dp]","[Number theory, Dynamic programming, Mathemati...","[Dynamic programming, Greedy algorithms]",None,None,None,None
1,"After his wife's tragic death, Eurydice, Orphe...",{'inputs': ['7 babba abaac codeforces zeroorez...,EASY,"[greedy, strings, dp]","[String algorithms, Dynamic programming, Greed...","[Dynamic programming, Greedy algorithms]",None,2 seconds,256 megabytes,None
2,Monocarp has been collecting rare magazines fo...,{'inputs': ['4 5 01110 10 5 8 9 6 6 011011 20 ...,EASY,"[greedy, dp, constructive algorithms]","[Greedy algorithms, Dynamic programming, Const...","[Dynamic programming, Greedy algorithms]",None,2 seconds,256 megabytes,None
3,Allen has a LOT of money. He has $n$ dollars i...,"{'inputs': ['125 ', '43 ', '1000000000 ', '4 '...",EASY,"[greedy, dp]","[Dynamic programming, Greedy algorithms]","[Dynamic programming, Greedy algorithms]",None,None,None,None
4,Athenaeus has just finished creating his lates...,{'inputs': ['5 6 1 2 2 2 5 6 2 4 4 6 1 1 3 4 4...,EASY,"[greedy, dp]","[Dynamic programming, Greedy algorithms]","[Dynamic programming, Greedy algorithms]",None,1 second,256 megabytes,None

In [67]:
pc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   question                  300 non-null    object
 1   input_output              300 non-null    object
 2   difficulty                300 non-null    object
 3   raw_tags                  300 non-null    object
 4   tags                      300 non-null    object
 5   skill_types               300 non-null    object
 6   Expected Auxiliary Space  0 non-null      object
 7   time_limit                183 non-null    object
 8   memory_limit              183 non-null    object
 9   Expected Time Complexity  3 non-null      object
dtypes: object(10)
memory usage: 23.6+ KB

In [131]:
from typing import List

prompts: List[str] = []
input_output: List[dict] = []
time_limit = []
memory_limit = []

for i, val in enumerate(pc_df.values):
  input_output.append(val[1])
  time_limit.append(val[7])
  memory_limit.append(val[8])
  prompts.append(
    'Below is provided a **competitive programming** problem set.\n' \
    'Please solve the problem set with:\n' \
    '1. No pre-assumptions (every assumption has to be structured in comments, whether it is inline or in a block).\n' \
    '2. **Solve using C++.**' \
    '3. Keeping in mind that the solution can actually reproduce the correct inputs and outputs as will be provided.\n' \
    '4. Only provide solution as the answer without any alternatives **(pick the best of all possibilities with best practices and performance)**.' \
    '5. **All explanation MUST be inside of the code itself in the forms of comments.**' \
    '\n' \
    '**Question**\n' \
    f'{val[0]}\n' \
    '\n' \
    f'**Difficulty: {val[2]}**\n' \
    '\n' \
    f'**Raw Tags: {val[3]}**\n' \
    '\n' \
    f'**Tags: {val[4]}**\n' \
    '\n' \
    f'**Skill Types: {val[5]}**\n' \
    '\n' \
    f'**Expected Auxiliary Space: {val[6] if val[6] else "No expected aurxiliary space or auxiliary space limit."}**\n' \
    '\n' \
    f'**Time Limit: {val[7] if val[7] else "No time limit."}**\n' \
    '\n' \
    f'**Memory Limit: {val[8] if val[8] else "No memory limit"}**\n' \
    '\n' \
    f'**Expected Time Complexity: {val[9] if val[9] else "No expected time complexity or time complexity limit."}**\n' \
  )

prompts[:5]

["Below is provided a **competitive programming** problem set.\nPlease solve the problem set with:\n1. No pre-assumptions (every assumption has to be structured in comments, whether it is inline or in a block).\n2. **Solve using C++.**3. Keeping in mind that the solution can actually reproduce the correct inputs and outputs as will be provided.\n4. Only provide solution as the answer without any alternatives **(pick the best of all possibilities with best practices and performance)**.5. **All explanation MUST be inside of the code itself in the forms of comments.**\n**Question**\nYou are given several queries. In the i-th query you are given a single positive integer n_{i}. You are to represent n_{i} as a sum of maximum possible number of composite summands and print this maximum number, or print -1, if there are no such splittings.\n\nAn integer greater than 1 is composite, if it is not prime, i.e. if it has positive divisors not equal to 1 and the integer itself.\n\n\n-----Input-----\n\nThe first line contains single integer q (1 ‚â§ q ‚â§ 10^5)\xa0‚Äî the number of queries.\n\nq lines follow. The (i + 1)-th line contains single integer n_{i} (1 ‚â§ n_{i} ‚â§ 10^9)\xa0‚Äî the i-th query.\n\n\n-----Output-----\n\nFor each query print the maximum possible number of summands in a valid splitting to composite summands, or -1, if there are no such splittings.\n\n\n-----Examples-----\nInput\n1\n12\n\nOutput\n3\n\nInput\n2\n6\n8\n\nOutput\n1\n2\n\nInput\n3\n1\n2\n3\n\nOutput\n-1\n-1\n-1\n\n\n\n-----Note-----\n\n12 = 4 + 4 + 4 = 4 + 8 = 6 + 6 = 12, but the first splitting has the maximum possible number of summands.\n\n8 = 4 + 4, 6 can't be split into several composite summands.\n\n1, 2, 3 are less than any composite number, so they do not have valid splittings.\n\n**Difficulty: EASY**\n\n**Raw Tags: ['number theory', 'greedy', 'math', 'dp']**\n\n**Tags: ['Number theory', 'Dynamic programming', 'Mathematics', 'Greedy algorithms']**\n\n**Skill Types: ['Dynamic programming', 'Greedy algorithms']**\n\n**Expected Auxiliary Space: No expected aurxiliary space or auxiliary space limit.**\n\n**Time Limit: No time limit.**\n\n**Memory Limit: No memory limit**\n\n**Expected Time Complexity: No expected time complexity or time complexity limit.**\n",
 "Below is provided a **competitive programming** problem set.\nPlease solve the problem set with:\n1. No pre-assumptions (every assumption has to be structured in comments, whether it is inline or in a block).\n2. **Solve using C++.**3. Keeping in mind that the solution can actually reproduce the correct inputs and outputs as will be provided.\n4. Only provide solution as the answer without any alternatives **(pick the best of all possibilities with best practices and performance)**.5. **All explanation MUST be inside of the code itself in the forms of comments.**\n**Question**\nAfter his wife's tragic death, Eurydice, Orpheus descended to the realm of death to see her. Reaching its gates was uneasy, but passing through them proved to be even more challenging. Mostly because of Cerberus, the three-headed hound of Hades.\n\nOrpheus, a famous poet, and musician plans to calm Cerberus with his poetry and safely walk past him. He created a very peculiar poem for Cerberus. It consists only of lowercase English letters.\n\nWe call a poem's substring a palindrome if and only if it reads the same backwards and forwards. A string $a$ is a substring of a string $b$ if $a$ can be obtained from $b$ by deleting several (possibly zero or all) characters from the beginning and several (possibly zero or all) characters from the end.\n\nUnfortunately, Cerberus dislikes palindromes of length greater than $1$. For example in the poem abaa the hound of Hades wouldn't like substrings aba and aa.\n\nOrpheus can only calm Cerberus if the hound likes his poetry. That's why he wants to change his poem so that it does not contain any palindrome substrings of length greater than $1$.\n\nOrpheus can modify the poem by replacing a letter at any position with any lowercase English letter. He can use this operation arbitrarily many times (possibly zero). Since there can be many palindromes in his poem, he may have to make some corrections. But how many, exactly? Given the poem, determine the minimal number of letters that have to be changed so that the poem does not contain any palindromes of length greater than $1$.\n\n\n-----Input-----\n\nThe first line of the input contains a single integer $t$ ($1 \\leq t \\leq 10^5$) denoting the number of test cases, then $t$ test cases follow.\n\nThe first and only line of each test case contains a non-empty string of lowercase English letters, Orpheus' poem.\n\nThe sum of the length of Orpheus' poems in all test cases will not exceed $10^5$.\n\n\n-----Output-----\n\nYou should output $t$ lines, $i$-th line should contain a single integer, answer to the $i$-th test case.\n\n\n-----Examples-----\n\nInput\n7\nbabba\nabaac\ncodeforces\nzeroorez\nabcdcba\nbbbbbbb\na\nOutput\n1\n1\n0\n1\n1\n4\n0\n\n\n-----Note-----\n\nIn the first test case, we can replace the third character with c and obtain a palindrome-less poem bacba.\n\nIn the second test case, we can replace the third character with d and obtain a palindrome-less poem abdac.\n\nIn the third test case, the initial poem already doesn't contain any palindromes, so Orpheus doesn't need to change anything there.\n\n**Difficulty: EASY**\n\n**Raw Tags: ['greedy', 'strings', 'dp']**\n\n**Tags: ['String algorithms', 'Dynamic programming', 'Greedy algorithms']**\n\n**Skill Types: ['Dynamic programming', 'Greedy algorithms']**\n\n**Expected Auxiliary Space: No expected aurxiliary space or auxiliary space limit.**\n\n**Time Limit: 2 seconds**\n\n**Memory Limit: 256 megabytes**\n\n**Expected Time Complexity: No expected time complexity or time complexity limit.**\n",
 "Below is provided a **competitive programming** problem set.\nPlease solve the problem set with:\n1. No pre-assumptions (every assumption has to be structured in comments, whether it is inline or in a block).\n2. **Solve using C++.**3. Keeping in mind that the solution can actually reproduce the correct inputs and outputs as will be provided.\n4. Only provide solution as the answer without any alternatives **(pick the best of all possibilities with best practices and performance)**.5. **All explanation MUST be inside of the code itself in the forms of comments.**\n**Question**\nMonocarp has been collecting rare magazines for quite a while, and now he has decided to sell them. He distributed the magazines between $n$ boxes, arranged in a row. The $i$-th box contains $a_i$ magazines. Some of the boxes are covered with lids, others are not.\n\nSuddenly it started to rain, and now Monocarp has to save as many magazines from the rain as possible. To do this, he can move the lids between boxes as follows: if the $i$-th box was covered with a lid initially, he can either move the lid from the $i$-th box to the box $(i-1)$ (if it exists), or keep the lid on the $i$-th box. You may assume that Monocarp can move the lids instantly at the same moment, and no lid can be moved more than once. If a box will be covered with a lid after Monocarp moves the lids, the magazines in it will be safe from the rain; otherwise they will soak.\n\nYou have to calculate the maximum number of magazines Monocarp can save from the rain.\n\n\n-----Input-----\n\nThe first line contains a single integer $t$ ($1 \\le t \\le 10^4$) ‚Äî the number of the testcases.\n\nThe first line of each testcase contains a single integer $n$ ($1 \\le n \\le 2 \\cdot 10^5$) ‚Äî the number of boxes.\n\nThe second line contains a string of $n$ characters 0 and/or 1. If the $i$-th character is 1, the $i$-th box is initially covered with a lid. If the $i$-th character is 0, the $i$-th box is initially not covered.\n\nThe third line contains a sequence of integers $a_1, a_2, \\dots, a_n$ ($1 \\le a_i \\le 10^4$), where $a_i$ is the number of magazines in the $i$-th box.\n\nThe sum of $n$ over all testcases doesn't exceed $2 \\cdot 10^5$.\n\n\n-----Output-----\n\nFor each testcase, print one integer ‚Äî the maximum number of magazines Monocarp can save from the rain.\n\n\n-----Examples-----\n\nInput\n4\n5\n01110\n10 5 8 9 6\n6\n011011\n20 10 9 30 20 19\n4\n0000\n100 100 100 100\n4\n0111\n5 4 5 1\nOutput\n27\n80\n0\n14\n\n\n-----Note-----\n\nIn the first testcase of the example, Monocarp can move the lid from the second box to the first box, so the boxes $1$, $3$ and $4$ are covered, and $10 + 8 + 9 = 27$ magazines are saved.\n\nIn the second testcase, Monocarp can move the lid from the second box to the first box, then from the third box to the second box, then from the fifth box to the fourth box, and then from the sixth box to the fifth box. The boxes $1$, $2$, $4$ and $5$ will be covered, so $20 + 10 + 30 + 20 = 80$ magazines can be saved.\n\nThere are no lids in the third testcase, so it's impossible to save even a single magazine.\n\n**Difficulty: EASY**\n\n**Raw Tags: ['greedy', 'dp', 'constructive algorithms']**\n\n**Tags: ['Greedy algorithms', 'Dynamic programming', 'Constructive algorithms']**\n\n**Skill Types: ['Dynamic programming', 'Greedy algorithms']**\n\n**Expected Auxiliary Space: No expected aurxiliary space or auxiliary space limit.**\n\n**Time Limit: 2 seconds**\n\n**Memory Limit: 256 megabytes**\n\n**Expected Time Complexity: No expected time complexity or time complexity limit.**\n",
 "Below is provided a **competitive programming** problem set.\nPlease solve the problem set with:\n1. No pre-assumptions (every assumption has to be structured in comments, whether it is inline or in a block).\n2. **Solve using C++.**3. Keeping in mind that the solution can actually reproduce the correct inputs and outputs as will be provided.\n4. Only provide solution as the answer without any alternatives **(pick the best of all possibilities with best practices and performance)**.5. **All explanation MUST be inside of the code itself in the forms of comments.**\n**Question**\nAllen has a LOT of money. He has $n$ dollars in the bank. For security reasons, he wants to withdraw it in cash (we will not disclose the reasons here). The denominations for dollar bills are $1$, $5$, $10$, $20$, $100$. What is the minimum number of bills Allen could receive after withdrawing his entire balance?\n\n\n-----Input-----\n\nThe first and only line of input contains a single integer $n$ ($1 \\le n \\le 10^9$).\n\n\n-----Output-----\n\nOutput the minimum number of bills that Allen could receive.\n\n\n-----Examples-----\nInput\n125\n\nOutput\n3\n\nInput\n43\n\nOutput\n5\n\nInput\n1000000000\n\nOutput\n10000000\n\n\n\n-----Note-----\n\nIn the first sample case, Allen can withdraw this with a $100$ dollar bill, a $20$ dollar bill, and a $5$ dollar bill. There is no way for Allen to receive $125$ dollars in one or two bills.\n\nIn the second sample case, Allen can withdraw two $20$ dollar bills and three $1$ dollar bills.\n\nIn the third sample case, Allen can withdraw $100000000$ (ten million!) $100$ dollar bills.\n\n**Difficulty: EASY**\n\n**Raw Tags: ['greedy', 'dp']**\n\n**Tags: ['Dynamic programming', 'Greedy algorithms']**\n\n**Skill Types: ['Dynamic programming', 'Greedy algorithms']**\n\n**Expected Auxiliary Space: No expected aurxiliary space or auxiliary space limit.**\n\n**Time Limit: No time limit.**\n\n**Memory Limit: No memory limit**\n\n**Expected Time Complexity: No expected time complexity or time complexity limit.**\n",
 "Below is provided a **competitive programming** problem set.\nPlease solve the problem set with:\n1. No pre-assumptions (every assumption has to be structured in comments, whether it is inline or in a block).\n2. **Solve using C++.**3. Keeping in mind that the solution can actually reproduce the correct inputs and outputs as will be provided.\n4. Only provide solution as the answer without any alternatives **(pick the best of all possibilities with best practices and performance)**.5. **All explanation MUST be inside of the code itself in the forms of comments.**\n**Question**\nAthenaeus has just finished creating his latest musical composition and will present it tomorrow to the people of Athens. Unfortunately, the melody is rather dull and highly likely won't be met with a warm reception.\n\nHis song consists of $n$ notes, which we will treat as positive integers. The diversity of a song is the number of different notes it contains. As a patron of music, Euterpe watches over composers and guides them throughout the process of creating new melodies. She decided to help Athenaeus by changing his song to make it more diverse.\n\nBeing a minor goddess, she cannot arbitrarily change the song. Instead, for each of the $n$ notes in the song, she can either leave it as it is or increase it by $1$.\n\nGiven the song as a sequence of integers describing the notes, find out the maximal, achievable diversity.\n\n\n-----Input-----\n\nThe input consists of multiple test cases. The first line contains an integer $t$ ($1 \\leq t \\leq 10000$) ‚Äî the number of test cases. Then $t$ test cases follow, each one is described in two lines.\n\nIn the first line of each test case there is a single integer $n$ ($1 \\leq n \\leq 10^5$) denoting the length of the song. The next line contains a sequence of $n$ integers $x_1, x_2, \\ldots, x_n$ $(1 \\leq x_1 \\leq x_2 \\leq \\ldots \\leq x_n \\leq 2 \\cdot n)$, describing the song.\n\nThe sum of $n$ over all test cases does not exceed $10^5$.\n\n\n-----Output-----\n\nFor each test case, you should output a single line containing precisely one integer, the maximal diversity of the song, i.e. the maximal possible number of different elements in the final sequence.\n\n\n-----Examples-----\n\nInput\n5\n6\n1 2 2 2 5 6\n2\n4 4\n6\n1 1 3 4 4 5\n1\n1\n6\n1 1 1 2 2 2\nOutput\n5\n2\n6\n1\n3\n\n\n-----Note-----\n\nIn the first test case, Euterpe can increase the second, fifth and sixth element to obtain the sequence $1, \\underline{3}, 2, 2, \\underline{6}, \\underline{7}$, which has $5$ different elements (increased elements are underlined).\n\nIn the second test case, Euterpe can increase the first element to obtain the sequence $\\underline{5}, 4$, which has $2$ different elements.\n\nIn the third test case, Euterpe can increase the second, fifth and sixth element to obtain the sequence $1, \\underline{2}, 3, 4, \\underline{5}, \\underline{6}$, which has $6$ different elements.\n\n**Difficulty: EASY**\n\n**Raw Tags: ['greedy', 'dp']**\n\n**Tags: ['Dynamic programming', 'Greedy algorithms']**\n\n**Skill Types: ['Dynamic programming', 'Greedy algorithms']**\n\n**Expected Auxiliary Space: No expected aurxiliary space or auxiliary space limit.**\n\n**Time Limit: 1 second**\n\n**Memory Limit: 256 megabytes**\n\n**Expected Time Complexity: No expected time complexity or time complexity limit.**\n"]

In [132]:
final_df = pd.DataFrame()
final_df['prompts'] = pd.Series(prompts)
final_df['input_output'] = pd.Series(input_output)
final_df['inputs'] = final_df['input_output'].apply(lambda x: x['inputs'] if isinstance(x, dict) else None)
final_df['outputs'] = final_df['input_output'].apply(lambda x: x['outputs'] if isinstance(x, dict) else None)
final_df.drop(columns=['input_output'], inplace=True)
final_df['time_limit'] = pd.Series(time_limit)
final_df['memory_limit'] = pd.Series(memory_limit)
final_df['done'] = pd.Series([False] * final_df.shape[0])

In [133]:
final_df.head()

,prompts,inputs,outputs,time_limit,memory_limit,done
0,Below is provided a **competitive programming*...,"[1\n12\n, 2\n6\n8\n, 3\n1\n2\n3\n, 6\n1\n2\n3\...","[3\n, 1\n2\n, -1\n-1\n-1\n, -1\n-1\n-1\n-1\n-1...",None,None,False
1,Below is provided a **competitive programming*...,[7\nbabba\nabaac\ncodeforces\nzeroorez\nabcdcb...,"[1\n1\n0\n1\n1\n4\n0\n, 1\n1\n0\n1\n1\n4\n0\n,...",2 seconds,256 megabytes,False
2,Below is provided a **competitive programming*...,[4\n5\n01110\n10 5 8 9 6\n6\n011011\n20 10 9 3...,"[27\n80\n0\n14\n, 2\n2\n2\n2\n2\n2\n2\n, 80\n8...",2 seconds,256 megabytes,False
3,Below is provided a **competitive programming*...,"[125\n, 43\n, 1000000000\n, 4\n, 5\n, 1\n, 74\...","[3\n, 5\n, 10000000\n, 4\n, 1\n, 1\n, 8\n, 3\n...",None,None,False
4,Below is provided a **competitive programming*...,[5\n6\n1 2 2 2 5 6\n2\n4 4\n6\n1 1 3 4 4 5\n1\...,"[5\n2\n6\n1\n3\n, 5\n2\n6\n1\n3\n, 5\n2\n6\n1\...",1 second,256 megabytes,False

In [134]:
# every row must have the same number of inputs and outputs, but some does not because there's no input or output data
final_df[(final_df['inputs'].apply(lambda x: len(x) if isinstance(x, list) else None) == final_df['outputs'].apply(lambda x: len(x) if isinstance(x, list) else None)) == False]

,prompts,inputs,outputs,time_limit,memory_limit,done
59,Below is provided a **competitive programming*...,None,None,None,None,False
164,Below is provided a **competitive programming*...,None,None,None,None,False

In [122]:
final_df['prompts'][59]

'Below is provided a **competitive programming** problem set.\nPlease solve the problem set with:\n1. No pre-assumptions (every assumption has to be structured in comments, whether it is inline or in a block).\n2. **Solve using C++.**3. Keeping in mind that the solution can actually reproduce the correct inputs and outputs as will be provided.\n4. Only provide solution as the answer without any alternatives **(pick the best of all possibilities with best practices and performance)**.5. **All explanation MUST be inside of the code itself in the forms of comments.**\n**Question**\nWrite a function that takes in a binary string and returns the equivalent decoded text (the text is ASCII encoded).\n\nEach 8 bits on the binary string represent 1 character on the ASCII table.\n\nThe input string will always be a valid binary string.\n\nCharacters can be in the range from "00000000" to "11111111" (inclusive)\n\nNote: In the case of an empty binary string your function should return an empty string.\n\n**Difficulty: EASY**\n\n**Raw Tags: [\'Strings\', \'Fundamentals\', \'Binary\']**\n\n**Tags: [\'String algorithms\', \'Bit manipulation\', \'Fundamentals\']**\n\n**Skill Types: [\'Bit manipulation\']**\n\n**Expected Auxiliary Space: No expected aurxiliary space or auxiliary space limit.**\n\n**Time Limit: No time limit.**\n\n**Memory Limit: No memory limit**\n\n**Expected Time Complexity: No expected time complexity or time complexity limit.**\n'

In [135]:
final_df.to_csv(f'{INPUT_PATH}/input.csv')

In [136]:
dafra = pd.read_csv(f'{INPUT_PATH}/input.csv', index_col=0)
dafra.head()

,prompts,inputs,outputs,time_limit,memory_limit,done
0,Below is provided a **competitive programming*...,"['1\n12\n', '2\n6\n8\n', '3\n1\n2\n3\n', '6\n1...","['3\n', '1\n2\n', '-1\n-1\n-1\n', '-1\n-1\n-1\...",NaN,NaN,False
1,Below is provided a **competitive programming*...,['7\nbabba\nabaac\ncodeforces\nzeroorez\nabcdc...,"['1\n1\n0\n1\n1\n4\n0\n', '1\n1\n0\n1\n1\n4\n0...",2 seconds,256 megabytes,False
2,Below is provided a **competitive programming*...,['4\n5\n01110\n10 5 8 9 6\n6\n011011\n20 10 9 ...,"['27\n80\n0\n14\n', '2\n2\n2\n2\n2\n2\n2\n', '...",2 seconds,256 megabytes,False
3,Below is provided a **competitive programming*...,"['125\n', '43\n', '1000000000\n', '4\n', '5\n'...","['3\n', '5\n', '10000000\n', '4\n', '1\n', '1\...",NaN,NaN,False
4,Below is provided a **competitive programming*...,['5\n6\n1 2 2 2 5 6\n2\n4 4\n6\n1 1 3 4 4 5\n1...,"['5\n2\n6\n1\n3\n', '5\n2\n6\n1\n3\n', '5\n2\n...",1 second,256 megabytes,False