In [13]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('./responses/gemini_2.0_flash_solutions.csv')

In [11]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233 entries, 0 to 232
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   question                  233 non-null    object
 1   difficulty                233 non-null    object
 2   raw_tags                  233 non-null    object
 3   tags                      233 non-null    object
 4   skill_types               233 non-null    object
 5   Expected Auxiliary Space  0 non-null      float64
 6   time_limit                132 non-null    object
 7   memory_limit              132 non-null    object
 8   Expected Time Complexity  2 non-null      object
 9   prompts                   233 non-null    object
 10  inputs                    231 non-null    object
 11  outputs                   231 non-null    object
 12  response                  233 non-null    object
 13  prompt_tokens             233 non-null    int64
 14  output_tokens             233 non-null    int64
 15  generation_time           233 non-null    float64
dtypes: float64(2), int64(2), object(12)
memory usage: 29.3+ KB

,question,difficulty,raw_tags,tags,skill_types,Expected Auxiliary Space,time_limit,memory_limit,Expected Time Complexity,prompts,inputs,outputs,response,prompt_tokens,output_tokens,generation_time
0,"Read problems statements in mandarin chinese, ...",EASY,"['Prefix Sum', 'Algorithms', 'Suffix Sum', 'Si...",['Range queries'],['Range queries'],NaN,1 seconds,50000 bytes,NaN,Below is provided a **competitive programming*...,"['2\n3\n1 2 3\n4\n2 1 3 1', '1\n5\n1 1 1 1 1',...","['1\n2', '1\n', '1\n5\n1\n', '1\n1\n', '1\n', ...",// Include necessary headers\n#include <iostre...,939,1606,55.349897
1,Vishal loves running. He often visits his favo...,EASY,"['Algorithms', 'Simple Algos', 'Brute Force', ...","['Amortized analysis', 'Range queries', 'Compl...","['Amortized analysis', 'Range queries', 'Compl...",NaN,0.5 seconds,50000 bytes,NaN,Below is provided a **competitive programming*...,"['1\n7 2\n2 4 8 1 2 1 8', '1\n10 3\n3 2 5 6 1 ...","['12', '18\n', '9\n', '20\n', '11\n', '7\n15\n...","// Include necessary headers for input/output,...",665,1086,46.151068
2,"Given an array of positive integers, replace e...",EASY,"['Binary Search Trees', 'Arrays', 'Algorithms']","['Data structures', 'Range queries']","['Data structures', 'Range queries']",NaN,NaN,NaN,NaN,Below is provided a **competitive programming*...,"[[[8, 58, 71, 18, 31, 32, 63, 92, 43, 3, 91, 9...","[[[18, 63, 80, 25, 32, 43, 80, 93, 80, 25, 93,...",#include <vector> // Required for std::vector\...,454,1361,46.282716
3,"Vasya likes the number $239$. Therefore, he co...",EASY,"['Prefix Sum', 'Algorithms', 'Brute Force', 'S...","['Range queries', 'Complete search']","['Range queries', 'Complete search']",NaN,1 seconds,50000 bytes,NaN,Below is provided a **competitive programming*...,"[['2', '1 10', '11 33'], ['3', '1 5', '10 50',...","[['3', '8'], '2\n12\n9\n', '27000\n', '2\n1\n1...",// Include necessary header for input/output o...,569,663,49.867138
4,"Read problem statements in [Bengali], [Mandari...",EASY,"['Algorithms', 'Simple Algos', '1D Arrays', 'P...","['Range queries', 'Amortized analysis', 'Data ...","['Data structures', 'Amortized analysis', 'Ran...",NaN,1 seconds,50000 bytes,NaN,Below is provided a **competitive programming*...,"['3\n5 2\n*a*b*\n5 2\n*a**b\n5 1\nabcde', '3\n...","['NO\nYES\nNO', 'NO\nYES\nNO', 'NO\nYES\nNO', ...",// Include necessary headers\n#include <iostre...,721,878,45.158918

In [17]:
def clean_cpp_code(response: str) -> str:
  if response is None:
    return ""
  lines = response.splitlines()
  cleaned_lines = []
  for line in lines:
    if line.strip().startswith("```cpp"):
      continue
    if line.strip() == "```":
      continue
    cleaned_lines.append(line)
  return "\n".join(cleaned_lines)

In [18]:
df['response'] = df['response'].apply(clean_cpp_code)

df.to_csv('./responses/gemini_2.5_flash_solutions.csv', index=False)

AttributeError: 'float' object has no attribute 'splitlines'

In [8]:
indf = pd.read_csv('./prompts/input.csv')
indf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                300 non-null    int64
 1   question                  300 non-null    object
 2   difficulty                300 non-null    object
 3   raw_tags                  300 non-null    object
 4   tags                      300 non-null    object
 5   skill_types               300 non-null    object
 6   Expected Auxiliary Space  0 non-null      float64
 7   time_limit                183 non-null    object
 8   memory_limit              183 non-null    object
 9   Expected Time Complexity  3 non-null      object
 10  prompts                   300 non-null    object
 11  inputs                    298 non-null    object
 12  outputs                   298 non-null    object
 13  done                      300 non-null    bool
dtypes: bool(1), float64(1), int64(1), object(11)
memory usage: 30.9+ KB

In [9]:
indf.loc[indf['done'] == False, "Unnamed: 0"]

0        0
1        1
2        2
3        3
4        4
      ...
295    295
296    296
297    297
298    298
299    299
Name: Unnamed: 0, Length: 298, dtype: int64